html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #111;
  color: white;
  max-width: 1000px;  
  margin: 0 auto;     
  padding: 0 20px;     
}

/* --- Секции --- */
.hero {
  background: #222;
  padding: 100px 20px;
  transform: skewY(-5deg);
}

.hero .content {
  transform: skewY(5deg);
}

/* Появление */
.fade {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s ease;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}

/* --- Работы --- */
.works {
  padding: 50px 20px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.card {
  background: #444;
  height: 120px;
  cursor: pointer;
  transition: transform 0.3s, background 0.3s;
  position: relative;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-10px) scale(1.03);
  background: #666;
}

/* затемнение при hover */
.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.3);
  opacity: 0;
  transition: 0.3s;
}

.card:hover::after {
  opacity: 1;
}

/* --- Низ --- */
.footer {
  background: #222;
  padding: 50px;
  transform: skewY(5deg);
}

.footer p {
  transform: skewY(-5deg);
}

/* --- POPUP --- */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.popup.active {
  opacity: 1;
  pointer-events: all;
}

.popup-content {
  background: #222;
  padding: 20px;
  max-width: 400px;
  transform: scale(0.8);
  transition: 0.4s;
}

.popup.active .popup-content {
  transform: scale(1);
}

.popup img {
  width: 100%;
}

/* --- Переход карточки --- */
.card.fly {
  position: fixed;
  z-index: 999;
  transition: all 0.6s ease;
}